{% extends "auctions/layout.html" %}
{% load static %}

{% block body %}
    <div class="container">
        <h2 style="text-align: center;">Register</h2>

        {% if message %}
            <div class="alert alert-danger">{{ message }}</div>
        {% endif %}
        
        <div class="register">
            <form action="{% url 'register' %}" method="post">
                {% csrf_token %}
                <div class="form-group">
                    <input class="form-control" autofocus type="text" name="username" placeholder="Username">
                </div>
                <div class="form-group">
                    <input class="form-control" type="email" name="email" placeholder="Email Address">
                </div>
                <div class="form-group">
                    <input class="form-control" type="password" name="password" placeholder="Password">
                </div>
                <div class="form-group">
                    <input class="form-control" type="password" name="confirmation" placeholder="Confirm Password">
                </div>
                <input class="btn btn-primary" type="submit" value="Register">
            </form>
        
            Already have an account? <a href="{% url 'login' %}">Log In here.</a>
        </div>
        </div>
        
   

{% endblock %}